/* nombreelemento{propiedad1: valor; propiedad2: valor;} */
body{
    background-color: #eee;
    height: auto;
}

.navbar{
 width: 100%;
 top: 0;
 position: fixed;
 z-index: 999;
 margin-top: 0px;
 left: 0px;
 padding-left: 2%;
}

.navbar-brand{
    color: #0d6efd;
    font-weight: 700;
    letter-spacing: 0.08em
}

.nav-item{
    margin: 2%;
}

.collapse{
    margin-left: 2%;
}

a.nav-link{
    white-space: nowrap;
}

.login{
    background-color: #eee;
    color: #0d6efd;
    text-decoration: none;
}

.signup{
    text-decoration: none;
}

a.login{
    margin-right: 1%;
    width: 11%;
    white-space: nowrap;
}

@media (min-width: 768px) and (max-width: 991.99px) {
    /* Pantallas medianas */
    .login.w-md-11 {
      width: 13%;
    }
    .signup.w-md-11 {
        width: 13%;
    }
}

button.login{
    display: block;
    width: 100%;
}

a.signup{
    margin-right: 2%;
    width: 11%;
    white-space: nowrap;
}

button.signup{
    display: block;
    width: 100%;
}

.login.btn-primary:active{
    background-color: #ccc;
    color: #0d6efd;
}

a.navbar-brand:hover{
    color: #0d6efd;
}

.login:hover{
    background-color: #ddd;
    color: #0d6efd;
}

button.navbar-toggler{
    font-size: 90%;
}

.nav-link{
    color: #222;
    
}

a.nav-link:hover{
    color: #0d6efd;
    border-bottom: #0d6efd;
}

@media (min-width: 768px) {
.dropdown:hover .dropdown-menu {
    display: block;
  }
} 

li.nav-item a.dropdown-item:hover{
    background-color: #0d6efd;
    color: white;
}

.footer{
    position: absolute;
    height: 200px;
    width: 100%;
    margin: 0%;
    top: 1340px;
    left: 0px;
    bottom: 0;
    background-color: #333;
}

@media (max-width: 576px){
    .footer{
        position: absolute;
        height: 310px;
        width: 100%;
        margin: 0%;
        left: 0px;
        bottom: 0px;
        top: 2150px;
        background-color: #333;
    }
}

.about-us-footer{
    height: 200px;
    background-color: #0d6efd;
}

a.footer-brand{
    color: #eee;
    text-decoration: none;
    margin-left: 3%;
    font-weight: 650;
    letter-spacing: 0.07em;
    font-size: x-large;

}

@media (max-width: 768px){
    img.logo-footer{
        margin-bottom: 2.5%;
    }
}

img.logo-footer{
    margin-bottom: 0.8%;
}

.about-us-community{
    white-space: nowrap;
    color: #eee;
    text-decoration: none;
    text-align: center;
    margin-top: 10%;
}

.footer-finance-info{
    display: block;
    color: #eee;
    font-size: small;
    margin-left: 4.6%;
    margin-top: 1.7%;
    text-decoration: none;
}

.community-info-container{
    text-align: center;
}

.about-us-info-container{
    text-align: center;
}

.community-info{
    display: block;
    color: #eee;
    font-size: smaller;
    margin-top: 4%;
    text-decoration: none;
}

.community-info:hover{
    color: #ccc;
}

.about-us-info{
    display: block;
    color: #eee;
    font-size: smaller;
    margin-top: 4%;
    text-decoration: none;
}

.about-us-info:hover{
    color: #ccc;
    
}

.main-1{
    background-color: #fff;
    display: block;
    position: absolute;
    height: 400px;
    width: 100%;
    top: 9.4%;
    left: 0px;
}

@media (max-width: 576px){
    .main-1{
        background-color: #fff;
        display: block;
        position: absolute;
        height: 240px;
        width: 100%;
        top: 9.4%;
        left: 0px;
    }
}

span.carousel-control-next-icon.ccni{
    color: #222;
}

button.carousel-control-prev{
    color: #222;
}

h1.primer-carousel{
    color:#0d6efd;
    text-align: center;
    display: inline-block;
    margin-left: 13%;
    margin-top: 5%;
}

img.imagen-primer-carousel{
    width: 45%;
    height: auto;
    display: inline;
    margin-bottom: 11%;
}

h1.segundo-carousel{
    color: #0d6efd;
    text-align: center;
    display: inline-block;
    margin-left: 13%;
    margin-top: 5%;
}

img.imagen-segundo-carousel{
    width: 45%;
    height: auto;
    display: inline;
    margin-bottom: 11%; 
}

h1.tercer-carousel{
    color: #0d6efd;
    text-align: center;
    display: inline-block;
    margin-left: 13%;
    margin-top: 5%;
}

img.imagen-tercer-carousel{
    width: 20%;
    height: auto;
    display: inline;
    margin-bottom: 11%; 
    margin-left: 19%;
}

.main-2{
    display: block;
    position: absolute;
    top: 500px;
}

@media (max-width: 576px){
    .main-2{
        display: block;
        position: absolute;
        top: 350px;
}
}

.cards-plan{
    display: flex;
    position: absolute;
    width: 90%;
    top: 570px;
    margin-left: -2.3%;
}

@media (max-width: 576px){
    .cards-plan{
        display: flex;
        position: absolute;
        width: 90%;
        top: 405px;
        margin-left: 1.5%;
    }
    .card{
        margin-top: 15px;
    }
}

.main-3{
    background-color: #04265a;
    display: flex;
    width: 100%;
    height: 440px;
    position: absolute;
    top: 840px;
    left: 0px;
}

.titulo-calculadora{
    display: inline-block;
    position: relative;
    margin-left: 6%;
    margin-top: 20px;
    color: #fff;
    height: 40px;
}

.calculadora{
    display: block;
    position: relative;
    margin-top: 4.4%;
    margin-left: -22%;
    align-content: center;
}

.campos-calculadora{
    position: relative;
    margin-top: 10%;
}

.boton-plazo-dropdown{
    background-color: #fff;
    border-color: #eee;
}

#ref-calculadora{
    display: block;
    height: 1px;
    position: absolute;
    top: 765px;
}

#boton-calcular{
    margin-left: 33%;
    margin-top: 10%;
}

#texto-rendimiento{
    color: #fff;
    display: block;
    position: relative;
    margin-left: 12%;
    margin-top: 10%;
}

.ganancias1{
    display: block;
    position: relative;
    margin-top: 3.65%;
    margin-left: 15%;
}

.ganancias2{
    display: block;
    position: relative;
    margin-top: 6.5%;
    margin-left: 7%;
}

.campos-ganancias{
    margin-top: 8%;
}

.texto-ganancias{
    color: #fff;
}

@media (max-width: 576px){
    .main-3{
        display: block;
        height: 900px;
        top: 1250px;
    }
    .calculadora{
        width: 80%;
        margin-left: 9%;
    }

    #boton-calcular{
        margin-left: 37%;
        margin-top: 10%;
    }
    .ganancias1{
        width: 80%;
        margin-left: 9%;
        margin-top: 15%;
    }

    .ganancias2{
        width: 80%;
        margin-left: 9%;
        margin-top: 8%;
    }

    #ref-calculadora{
        display: block;
        height: 1px;
        position: absolute;
        top: 1150px;
    }
}
