/* nombreelemento{propiedad1: valor; propiedad2: valor;} */

body{
    background-color: whitesmoke;
}

header{
    margin-bottom: 85px;
}

 #navbar{   
    top: 0;
    position: fixed;
    margin-top: 0px;
    margin-left: -8px;
    background-color: black;
    width: 100%;
    overflow: hidden;
}     

.menus{
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 20px 0px;
}

.menus a{
    color: white;
    text-decoration: none;
    padding: 30px;
}

.menus a:hover{
    background-color: lightslategray;
    color: black;
}

p{
    font-size: 40px;
    margin: 0 80px 0 80px;
}

#FINANZAS{
    font-size: 20px;
    display: inline-block;
    color: white;
    margin: 20px 30px;
}

